/* Arka plan resmi ayarı */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('assets/img/E85FA823-1E98-49F8-A25A-93EC9F413058_Original.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  text-shadow: 0px 0px 5px #000000;
}

/* Sayfa üstüne yarı şeffaf katman */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Ana başlık */
h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
}

/* Alt başlık */
p {
  font-size: 24px;
  margin: 10px 0 0 0;
}
