body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.hero {
  background-image: url('../img/850582EC-58CE-44D1-A1DB-2E28C7F86E9F.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Yazıların daha net görünmesi için karartma efekti */
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
}
