/* Arka plan resmi */
.hero {
  background-image: url('../img/850582EC-58CE-44D1-A1DB-2E28C7F86E9F.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  padding: 20px;
}

/* Yazıların stili */
.hero-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.2em;
}

/* Mobil cihazlar için optimizasyon */
@media screen and (max-width: 768px) {
  .hero {
    background-position: right center;
    background-size: cover;
    padding: 40px 20px;
  }

  .hero-content h1 {
    font-size: 2em;
  }

  .hero-content p {
    font-size: 1em;
  }
}
