/* Genel ayarlar */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  color: white;
  text-shadow: 0px 0px 5px #000000;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain; /* Kırpılmadan orijinal şekilde gösterir */
  z-index: -1;
}

.hero {
  position: relative;
  z-index: 1;
  padding: 40px;
  text-align: center;
}

/* Başlık ve metin */
h1 {
  font-size: 48px;
  margin: 0;
}

p {
  font-size: 24px;
  margin: 10px 0 0 0;
}

/* RESPONSIVE: Mobil cihazlarda ekran uyumu */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  .hero {
    padding: 20px;
  }
}
