body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../img/850582EC-58CE-44D1-A1DB-2E28C7F86E9F.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  text-shadow: 0 0 5px #000;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
